h1 {
    color: chartreuse;
}

h3 {
    color: antiquewhite;
    font-size: 20px;
}

h6 {
    color: antiquewhite;
    font-size: 20px;
}

img{
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: olive;
    padding: 50px;
    border: 2px dashed black;
    text-align: center;
    margin: auto;
}

#spanId {
    font-size: 18px;
    margin: 50px;
    color: antiquewhite;
}

.divClass{
    text-align: center;
}
